@model GAB.Web.ResourcePlanning.Models.WorkPlanViewModel

@{
    ViewBag.Title = "Resource planning";
   
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Planning"))
{
    <fieldset>
        <legend>Register work period for employee</legend>
        <div class="row">
           <label for="Employees" class="col-sm-2">Select employee</label><select name="EmployeeId" class="col-sm-3">
                @foreach (var emp in Model.Employees)
                {
                    <option value="@emp.Id">@emp.Name</option>
                }
            </select>
        </div>
        <div class="row">
            <label for="StartTime" class="col-sm-2">Starting at </label><input type="datetime" name="StartTime" class="col-sm-3"/>
        </div>
        <div class="row">
            <label for="EndTime" class="col-sm-2">Ending at</label><input type="datetime" name="EndTime" class="col-sm-3"/>
        </div>
        <div class="row" >
            <label for="Description"class="col-sm-2">Description </label><input type="text" name="Description" class="col-sm-3"/>
        </div>
        <div class="row" >
            <input type="submit" value="Save work period" />
        </div>
    </fieldset>
}